{% extends "base/base_crud.html" %}
{% load bootstrap5 %}

{% block content_htitle %}Aparelhos{% endblock %}

{% block content_hdescription %}Cadastro de aparelho{% endblock %}

{% block content_hbutton %}
    <a class="btn btn-primary btn-sm" href="{% url 'devices:devices' %}" title="Voltar">Voltar</a>
{% endblock %}

{% block content_crud %}

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <input class="btn btn-success btn-sm" type="submit" title="Salvar" value="Salvar">
  {% endbuttons %}
</form>
    
{% endblock %}