{% extends "base/base_crud.html" %}
{% load bootstrap5 %}

{% block content_htitle %}Fabricantes{% endblock %}

{% block content_hdescription %}Cadastro do fabricante de aparelho{% endblock %}

{% block content_hbutton %}
    <a class="btn btn-primary btn-sm" href="{% url 'manufacturers:manufacturers' %}" title="Voltar">Voltar</a>
{% endblock %}

{% block content_crud %}

<p>Você deseja excluir "{{ object }}"?</p>
<form action="" method="post" class="form">
  {% csrf_token %}
  {{ form }}
  {% buttons %}
    <input class="btn btn-danger btn-sm" type="submit" title="Excluir" value="Excluir">
  {% endbuttons %}
</form>
    
{% endblock %}