{% extends "base/base_crud.html" %}

{% block content_htitle %}Fabricantes{% endblock %}

{% block content_hdescription %}Lista de fabricantes de aparelhos{% endblock %}

{% block content_hbutton %}
    <a class="btn btn-primary btn-sm" href="{% url 'manufacturers:manufacturer-create' %}" title="Novo">Novo</a>
{% endblock %}

{% block content_crud %}

    {% if manufacturer_list %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col" style="width: 70%">Nome</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
    {% for manufacturer in manufacturer_list %}
            <tr>
                <td><a href="{{ manufacturer.get_absolute_url }}">{{ manufacturer.name }}</a></td>
                <td><a class="btn btn-outline-primary btn-sm" href="{% url 'manufacturers:manufacturer-update' manufacturer.id %}" title="Editar">
                    <i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a class="btn btn-outline-danger btn-sm" href="{% url 'manufacturers:manufacturer-delete' manufacturer.id %}" title="Deletar">
                    <i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
    {% endfor %}
        </tbory>
    </table>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> Nenhum fabricante encontrado!
    </div>
    {% endif %} 
    
{% endblock %}