{% extends "base/base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <br />
            <h1 class="display-5">Assistência técnica! <i class="fa-regular fa-handshake"></i></h1>
            <p class="lead">Sistema para lojas especializadas no conserto de aparelhos específicos.</p>
            <hr class="my-4">
            <p>Este sistema auxilia na gerência do negócio e garantia de controle efetivo dos produtos e serviços.</p>
        </div>
    </div>

    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ordem de serviços</h5>
                        <p class="card-text">Donec ultricies elementum enim in eleifend. Cras volutpat, 
                            risus in fringilla varius, est sem blandit dui, vel convallis libero nisl nec mi.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consertos</h5>
                        <p class="card-text">Aliquam efficitur augue vitae aliquam pharetra. Cras quis fringilla risus. 
                            Suspendisse vel lorem molestie, posuere libero in, maximus metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}